.form {
	width: 100%;
	input,textarea,select {
		font-size: 1em;
		-moz-border-radius: 2px;
		border: 1px solid #CCC;
		padding: 5px 8px;
		margin: 5px 10px 5px 0;
		&:hover {
			outline: 0;
			border: 1px solid lighten($primary-color, 30%);
		}
		 &:focus {
			outline: 0;
			border: 1px solid $primary-color;
		}
	}
	select {
		box-sizing: content-box;
	}
}
button, .button
{
    border-radius: 4px;
    line-height:inherit;
}
